<section class="container">
  <form
    class="formulario"
    [formGroup]="form"
    (ngSubmit)="cadastrar()">

    <h2 class="__titulo">Cadastrar novo cartão</h2>

    <div class="form-field">
      <label class="form-field__label" for="numeroCartao">Final do cartão</label>
      <input class="form-field__input" id="numeroCartao" [maxlength]="4"  formControlName="numeroCartao">
      <app-alertas
        *ngIf="form.get('numeroCartao').invalid && this.form.get('numeroCartao').touched"
        mensagem="Campo final do cartão é obrigatório"
        ></app-alertas>
    </div>

    <div class="form-field">
      <label class="form-field__label"  for="destino">Apelido do cartão</label>
      <input class="form-field__input" id="nomeCartao" type="text" formControlName="nomeCartao">
      <app-alertas
        *ngIf="form.get('nomeCartao').invalid && this.form.get('nomeCartao').touched"
        mensagem="Campo apelido é obrigatório"></app-alertas>
    </div>

    <div class="botao-wrapper">
      <button
      [ngClass]="form.invalid ? 'botao botao-desabilitado' : 'botao'"
      type="submit">
      Cadastrar
    </button>
    </div>

  </form>
</section>

