

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary);


  .title {
    display: flex;
    padding: 10em;

    h1 {
      font: 700 4rem 'Noto Sans JP', sans-serif;
      color: #fff;
    }
  }


  .login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .form-google {
      display: flex;
      flex-direction: column;
      padding-right: 5rem;

        .login-google {
          margin: 1rem;
          border: 4px solid transparent;
          cursor: pointer;
          height: 5em;
          width: 5.5em;
          border-radius: 50%;
          background-color: #fff;
          transition: filter 2s;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

          img {
            height: 3.5em;
          }
        }

        .login-google:hover {
          background-color: #689DF7;
        }

        span {
          color: #fff;
          font: 400 1rem 'Noto Sans JP', sans-serif;
        }
    }

    .forms {
      display: flex;
      flex-direction: column;
      align-items: center;

      .login {
        border-radius: 1rem;
        width: 5rem;
        height: 1.8rem;
        border: none;
        cursor: pointer;
        transition: filter 2s;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }

      .login:hover {
        background-color: #689DF7;
      }

    }
  }




}


::ng-deep  .mat-form-field-wrapper {
  padding: 0;
}
