

.container {
  display: flex;
  background-color: var(--primary);


  .login {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font: 700 4rem 'Noto Sans JP', sans-serif;
      color: #fff;
    }

    .login-button {
      margin: 1rem;
      border: 4px solid transparent;
      cursor: pointer;
      height: 8.5em;
      width: 9em;
      border-radius: 50%;
      background-color: #fff;
      transition: filter 1s;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      img {
        height: 7em;
      }
    }

    .login-button:hover {
      background-color: #689DF7;
    }

    span {
      color: #fff;
      font: 400 1rem 'Noto Sans JP', sans-serif;
    }
  }
}
